@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  /* Color Variables */
  --bg-color: #1b1b1b;
  --primary-color: #ffc200;
  --trans-color: #ffc400d5;
  --text-color: #000;
  --accent-color: #ff9f00;
  /* Font Size Variables */
  --font-size-very-small: 0.65rem;
  --font-size-small: 0.775rem; /* For small text */
  --font-size-base: 1rem; /* Base font size */
  --font-size-medium: 1.25rem; /* Medium text */
  --font-size-large: 3rem; /* Large text */
  --font-size-xlarge: 4rem; /* Extra large text */
  --font-size-heading: 2rem; /* Heading text size */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  transition: all 0.3s ease-out;
}
/* body{
  background-color: var(--bg-color);
  color: #fff;
} */
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.logo1 {
  display: none;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  margin-left: 1.8rem;
  align-content: flex-end;
}
.logo p {
  font-weight: 300;
  margin: 2%;
  font-size: var(--font-size-medium);
}
.logo img {
  height: 1.5rem;
}

nav {
  width: 100dvw;
  margin: 0;
}

nav ul {
  float: right;
  margin-right: 2rem;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

nav ul li a {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  position: relative;
  text-decoration: none;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
a.active {
  transition: 0.5s;
}

.checkbtn {
  font-size: var(--font-size-small);
  color: #000;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.container {
  padding: 8%;
  min-height: 100vh;
}
.container1 {
  padding-left: 8%;
  padding-right: 8%;
  height: max-content;
}
/* <----------------------------------navbar---------------------------------> */
#home {
  display: flex;
  justify-content: center;
}
.row0 {
  display: grid;
  grid-template-columns: 50% 40%;
  align-items: center;
  gap: 2rem;
}

.home-text {
  display: flex;

  flex-direction: column;

  width: 100%;

  text-align: left;
}
.color {
  color: var(--primary-color);
  font-family: "Oswald", sans-serif;
}
.home-text h1 {
  font-size: var(--font-size-xlarge);

  font-family: "Oswald", sans-serif;
  line-height: 6rem;
  font-weight: 600;
}

.head-text {
  margin-top: 1%;
  font-weight: 300;
  font-size: var(--font-size-heading);
  line-height: 1.4;
}
.home-text p {
  width: 90%;
  font-size: var(--font-size-small);
  font-weight: 300;
  margin-top: 1%;
  text-align: left;
  line-height: 1.6;
}
.contain {
 margin-top: 2%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
}
.btn {
  padding: 2% 4% 2% 4%;
  font-size: var(--font-size-small);
  background: var(--primary-color);
  color: #fdfdfd;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
}
.btn1:hover {
  background-color: var(--accent-color); /* Darker shade of primary color */
  transform: scale(1.05); /* Slight zoom effect */
}
.contain span {
  width: 4%;
  height: 1%;
  background-color: #ff9f00;
}
.contain i {
  font-size: var(--font-size-medium);
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effects for the span */
.contain span:hover {
 /* Lighter shade of the original color */
  transform: scale(2); /* Slight zoom effect */
}

/* Separate hover effect for icons */
.contain i:hover {
  color: var(--accent-color); /* Change icon color on hover */
  transform: rotate(20deg); /* Slight rotation on hover */
}
.btn:hover .contain span {
  background-color: var(--accent-color); /* Lighter shade of the original color */
  transform: scale(1.1); /* Slight zoom effect */
}

.btn:hover .contain i {
  color: #fdfdfd; /* Change icon color on hover */
  transform: rotate(20deg); /* Slight rotation on hover */
}
.home-right img {
  width: 100%;
}
/* <---------------------------------------------------------home page---------------------> */
#about {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.sub-title {
  font-size: var(--font-size-large);
  font-family: "Oswald", sans-serif;
  line-height: 6rem;

  text-align: left;
  font-weight: 200;
}
.row {
  display: grid;
  grid-template-columns: 40% 55%;
  align-items: end;
  gap: 2rem;
}
#more {
  display: none;
}
.about-col-1 {
  width: 100%;

  display: flex;
}
.about-col-1 img {
  width: 100%;
}

.btnBox button {
  border: none;
  background-color: #fdfdfd;
  color: var(--accent-color);
}
.about-col-2 {
  width: 100%;
  height: max-content;
}

.about-col-2 p {
  font-size: var(--font-size-small);
  font-weight: 300;
  text-align: justify;
  margin-top: 2%;
  margin-right: 3%;
  line-height: 1.6;
}
/* -------------------------------------about---------------------------------- */
.hide-tab {
  display: flex;
  align-items: center;
  background-color: #ffc40013;
}
.row1 {
  display: grid;
  padding: 5%;
  grid-template-columns: 40% 55%;
  justify-content: center;
  align-items: start;
  gap: 10%;
}
.tab-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}
.tab-left p {
  font-size: var(--font-size-small);
  text-align: justify;
  width: 100%;
  padding-right: 2%;
}

.tab-title {
  display: flex;
  font-size: var(--font-size-small);
  gap: 2rem;
  margin: 0 0 1rem;
}
.tab-title p {
  color: black;

  font-weight: 400;
  font-size: var(--font-size-medium);
}
.tablinks {
  margin-right: 2rem;

  position: relative;

  cursor: pointer;
}
.tablinks::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tablinks.active::after {
  width: 50%;
}

.tabcontent ul {
  text-align: left;

  width: 100%;
}
.tabcontent ul li {
  list-style: none;
  width: 95%;
  font-size: var(--font-size-small);
  margin: 0.1rem 0px;
  line-height: 1.7;
  text-align: left;
}
.tabcontent ul li span {
  color: var(--primary-color);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
.tabcontent {
  display: none;
  margin-top: 1.5rem;
}
.tabcontent.active {
  display: block;
}
.container0 {
  position: relative;
  max-width: 100%;

  border-radius: 7px;
}

.container0 .skill-box {
  width: 100%;
  margin: 3rem 0;
}

.skill-box .title {
  display: block;
  font-size: var(--font-size-small);
  font-weight: 600;
  color: #333;
}

.skill-box .skill-bar {
  height: 0.4rem;
  width: 100%;
  border-radius: 3px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 3px;
  background: var(--primary-color);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per .html {
  /*progreso de las diferentes lenguajes*/
  width: 90%;
  animation-delay: 0.3s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 80%;
  animation-delay: 0.3s;
}

.skill-per.javascript {
  /*progreso de las diferentes lenguajes*/
  width: 80%;
  animation-delay: 0.4s;
}

.skill-per.nodejs {
  /*progreso de las diferentes lenguajes*/
  width: 70%;
  animation-delay: 0.5s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 600;
  color: #333;
  padding: 2px 6px;
  border-radius: 3px;
  background: var(--primary-color);
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: var(--primary-color);
  transform: translateX(-50%) rotate(45deg);
}
.edu {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #ffc40006;
}
.line {
  width: 0.01rem;
  height: 1.2rem;
  margin: 1%;

  background-color: #ffc200;
}
.tabcontent ul li p {
  margin-left: 4%;
  font-size: var(--font-size-very-small);
}
.tabcontent ul li span i {
  margin: 1%;
  font-size: var(--font-size-base);
}

.tabcontent ul li i {
  font-size: 0.8rem;

  color: var(--primary-color);
}
.btn:hover {
  background: var(--accent-color);
  color: #fff;
 
}

@media (max-width: 1050px) {
  nav ul li a {
    font-size: var(--font-size-base);
  }
}
/* <---------------------------------------------------hide--------------------------------------------------> */

#services {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.services-list {
  display: grid;
  gap: 2rem;
  margin-top: 6%;
  grid-template-columns: repeat(3, 1fr);
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2rem;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 0 1rem 0 4rem;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;

  width: 100%;

  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border-radius: 3px;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -1rem;
    right: -1rem;
    background: var(--primary-color);
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(28);
  }
}

.card:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h1 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
  i {
    color: #fff;
  }
  a {
    color: #fdfdfd;
  }
}

.card h1 {
  margin-top: 2%;

  font-weight: 400;
  font-size: var(--font-size-medium);
}
.card p {
  font-size: var(--font-size-very-small);
  font-weight: 300;
  text-align: left;
  line-height: 1.6;
}
.card i {
  font-size: var(--font-size-heading);
  color: var(--primary-color);
}
.card a {
  font-size: var(--font-size-very-small);
  color: var(--primary-color);
  text-decoration: none;
}
/* <---------------------------------------------------------services-------------------------------------> */
#porfolio {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.sub-title1 {
  text-align: center;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;
  gap: 1rem;
}
.work {
  display: block;
  position: relative;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #ffc200;
  position: relative;
  overflow: hidden;
}
.layer h3 {
  margin-top: 2%;
  font-weight: 600;
  font-size: var(--font-size-base);
}
.layer p {
  font-size: var(--font-size-very-small);
  margin-bottom: 4%;
  text-align: center;
  line-height: 1.3;
}
.work .layer {
  opacity: 1;

  transform: scale(1);
}

.layer {
  position: absolute;
  background-color: var(--trans-color);
  width: 100%;
  height: 100%;
  top: 0;

  transform: scale(1);
  opacity: 0;
  transition: transform 0.4s ease 0s;
}

.layer span {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 75%;
  color: #fff;

  transform: translate(-50%, -50%);
}

.work img {
  transition: transform 0.8s ease;
  width: 100%;
  height: 100%;
}

.work:hover img {
  transform: scale(1.1);
}

.layer span i {
  font-size: var(--font-size-small);

  padding: 1%;

  color: #fff;
}
/* -----------------------------------portfolio ------------------------------------------ */
#contact {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #ffc40013;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
.row4 {
  display: grid;
  align-items: center;
}
.container2 p {
  margin-top: 1%;
  width: 70%;
  font-size: var(--font-size-small);
  text-align: center;
  color: #333;
}
.sub-title3 {
  margin-bottom: 0%;
}
.contact-info {
  position: relative;
  color: #ccc;
  width: 95%;
  padding: 12%;
  background-color: var(--bg-color);
}
.contact-info div {
  display: flex;
  align-items: center;
  margin: 5%;
}
.contact-info div p {
  font-size: var(--font-size-very-small);
  margin: 2%;
}
.contact-info div i {
  font-size: var(--font-size-small);
  margin: 2px;
}
.contact-left span {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  background-color: #ffc200;
}

.cross {
  position: absolute;
  text-align: right;
  top: 0;

  right: 0;
  margin: 2%;
}
.contact-form {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-right {
  margin-right: 4%;
}
#popupDialog {
  display: none;
  position: fixed;
  top: 50%;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

form {
  width: 100%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
input,
textarea {
  border: none;
  padding: 2%;

  border-radius: 2px;
  color: #ccc;
  border: 1px solid #ccc;
}
.btn2{
  padding: 1% 3% 1% 3%;
  font-size: var(--font-size-small);
  background: var(--primary-color);
  color: #fdfdfd;
  border-style: none;
  margin-top: 2%;
  text-decoration: none;
  border-radius: 2px;
}
.btn3{
  width: 50%;
  margin-top: 0%;
  
}
footer {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
}
.contain1 {
  margin-top: 0%;
}
.contain1 i {
  color: var(--text-color);
  font-size: var(--font-size-small);
}

/* Responsive media query code for small screen */
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  .logo1 {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
    width: 100%;
    margin-top: 0%;
    padding: 15%;
    background-color: white;
  }

  .logo1 img {
    height: 1.5rem;
  }
  nav ul {
    position: absolute;
    width: 40%;
    height: 100dvh;
    background-color: var(--trans-color);
    top: 0%;
    opacity: 1;
    left: -100%;

    text-align: left;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    padding: 8%;
  }

  nav ul li a {
    color: #fdfdfd;

    font-size: var(--font-size-base);
  }

  a:hover,
  a.active {
    background: none;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .home-text {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .row0 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .home-text h1 {
    text-align: center;
  }
  .home-text p {
    width: 100%;
    text-align: center;
  }
  .container1 {
    height: max-content;
    width: 100%;
  }
 
  .tab-right {
    width: 100%;
  }
  .tab-title {
    display: flex;

    gap: 0.6rem;
  }
  .contain {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
  }
  /* .row1{
    display: flex;
    flex-direction: column;
  } */
  .about-col-2 p {
    margin-right: 2%;
  }
  .tabcontent ul {
    text-align: left;
    width: 100%;
  }
  .services-list {
    display: flex;

    flex-direction: column;
  }
  .work-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .contact-left {
    background-color: var(--primary-color);
    width: 100%;
  }
  .contact-left span {
    display: none;
  }
  .contact-info {
    background-color: #ffc200;
    color: #fff;
  }
  #popupDialog {
    width: 70%;
  }
}
